# The BOT token of your application
BOT_TOKEN=
# The ID of your application
APPLICATION_ID=
# Your Discord user ID
USER_ID=
# Your Lounge name
LOUNGE_PLAYER_NAME=
# Track either 12 or 24 player stats
LOUNGE_PLAYERS=12
